/*

  This file defines all meassurements and fonts inside
  the article element. No colors are set here.

*/



div.bunny-article div.left{ float: left; margin: 0 1em 0.5em 0; }
div.bunny-article div.right{ float: right; margin: 0 0 0.5em 1em; }
div.bunny-article div.middle{ clear: both;}
div.bunny-article div.image p{ font-size:70%; margin:0; text-align:center;}

div.bunny-article {
	font-family: verdana, sans-serif;
	font-size:100%;
	line-height:1.125em; /* 16x1.125=18px */
	margin:0;
	padding: 18px;

  width: 500px;
  margin: 0 auto;
}

div.bunny-article h1,
div.bunny-article h2,
div.bunny-article h3{
	font-weight:normal;	
	color: #555;
}

div.bunny-article h1 {
	font-family: georgia, serif;
	font-size: 1.875em; /* 16x1.875=30px */
	line-height: 1.636em;/* 16x1.636=36px */
	margin: 0;
}

div.bunny-article h2 {
	font-size: 1.125em; /* 16x1.125=18px */
	margin:1em 0; /* 18x1=18px */
}

div.bunny-article p {
	font-size: 0.875em; /* 16x0.875=14px */
	margin: 1.286em 0; /* 14x1.286=18px (same as line-height) */
}

