
body {
	background-size: 30px 30px;
	background-color: #666;
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .1) 25%, transparent 25%,
										transparent 50%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 75%,
										transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .1) 25%, transparent 25%,
										transparent 50%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 75%,
										transparent 75%, transparent);
	background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .1) 25%, transparent 25%,
										transparent 50%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 75%,
										transparent 75%, transparent);

	background-image: linear-gradient(-45deg, rgba(255, 255, 255, .1) 25%, transparent 25%,
										transparent 50%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 75%,
										transparent 75%, transparent);
}

div.main {
	background: #eee;
}

h1, h2, h3 {
	color: #666;
}


div.header ul.menu li a {
	color: #aaa;
}

div.header ul.menu li a:hover {
	color: #000;
}


div.footer ul.menu li {
	color: #ddd;
}